<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>ru.itis.web.servlets.SignInServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ru.itis.web.servlets.ProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<filter-class>ru.itis.web.filters.AuthenticationFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>RedirectFilter</filter-name>-->
        <!--<filter-class>ru.itis.web.filters.RedirectFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>RedirectFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <listener>
        <listener-class>ru.itis.web.listeners.ComponentsContainer</listener-class>
    </listener>
</web-app>